.swiper-button-next {
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
	backdrop-filter: blur(5px) !important;
	-webkit-backdrop-filter: blur(5px) !important;
	border: 1px solid rgba(255, 255, 255, 0.3) !important;
	background-image: url('/src/assets/arrow_R.png');
	background-repeat: no-repeat;
	background-size: 85% auto;
	background-position: center;
	position: absolute;
	opacity: 0.8 !important;
	border-radius: 12px;
	width: 56px !important;
	height: 56px !important;
	right: 10px !important;
	transition: 0.3s;
}
.swiper-button-next::after,
.swiper-button-prev::after {
	display: none;
}
.swiper-button-prev {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
	backdrop-filter: blur(5px) !important;
	-webkit-backdrop-filter: blur(5px) !important;
	border: 1px solid rgba(255, 255, 255, 0.3) !important;
	background-image: url('/src/assets/arrow_L.png');
	background-repeat: no-repeat;
	background-size: 85% auto;
	background-position: center;
	position: absolute;
	opacity: 0.8 !important;
	border-radius: 12px;
	width: 56px !important;
	height: 56px !important;
	left: 10px !important;
	transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	transform: scale(1.05);

	opacity: 1 !important;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	opacity: 0.1 !important;
}
